body,* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  width: 216px;
  height: 68px;
  cursor: pointer;
}
button:hover {
  filter: opacity(0.9);
}

button:focus {
  outline-style: none;
}

button:active{
  filter: opacity(.8);
}

.App {
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
}